[user]
    name = Durgesh
    email = 84910181+Durgesh-babu@users.noreply.github.com
    
[core]
    editor = nvim
	excludesfile = /Users/durgesh/.gitignore_global
[color]
	ui = auto
[init]
	defaultBranch = main
[pull]
	rebase = false
